@namespace Beauo.Components

@if (Level == 1)
{
    <h1><Text ChildContent="@ChildContent" Size="@Size" Color="@Color" Align="@Align" /></h1>
}
else if (Level == 2)
{
    <h2><Text ChildContent="@ChildContent" Size="@Size" Color="@Color" Align="@Align" /></h2>
}
else if (Level == 3)
{
    <h3><Text ChildContent="@ChildContent" Size="@Size" Color="@Color" Align="@Align" /></h3>
}
else if (Level == 4)
{
    <h4><Text ChildContent="@ChildContent" Size="@Size" Color="@Color" Align="@Align" /></h4>
}
else if (Level == 5)
{
    <h5><Text ChildContent="@ChildContent" Size="@Size" Color="@Color" Align="@Align" /></h5>
}
else
{
    <h6><Text ChildContent="@ChildContent" Size="@Size" Color="@Color" Align="@Align" /></h6>
}

@code {
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; }
    [Parameter] public int Level { get; set; } = 1;
    [Parameter] public TextSizeClass Size { get; set; } = TextSizeClass.Large;
	[Parameter] public FgColorVar Color { get; set; } = FgColorVar.Dark;
	[Parameter] public TextAlignClass Align { get; set; } = TextAlignClass.Left;
}